# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Odoo
*.pyc

# IDE / OS
.idea/
.vscode/
.DS_Store
**/.DS_Store
Thumbs.db

# Local Odoo dev (Colima/Docker binaries)
local-dev/

# Local development environment and configuration
.venv/
odoo.conf
installed_packages.txt
to do.txt

llm
llm_mcp_server
llm_tool
mcp_server
muk_mcp
muk_web_utils
web_json_editor
